@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Default Theme (Neo-Brutalist Light) */
        --bg-main: #E0E7FF;
        --bg-card: #FFFFFF;
        --text-main: #000000;
        --border-main: #000000;
        --shadow-main: #000000;
        --accent-1: #A5B4FC; /* Header Blue */
        --accent-2: #FEF08A; /* Sidebar Yellow */
        --accent-3: #86efac; /* Success Green */
        --accent-danger: #FF6B6B;
    }

    [data-theme="retro"] {
        /* Retro Neon Theme */
        --bg-main: #050505; /* Deep Black */
        --bg-card: #000000;
        --text-main: #39FF14; /* Neon Green */
        --border-main: #39FF14;
        --shadow-main: #39FF14;
        --accent-1: #000000; 
        --accent-2: #000000;
        --accent-3: #39FF14;
        --accent-danger: #FF00FF; /* Neon Magenta */
    }
}

@layer utilities {
    .text-stroke-black {
        -webkit-text-stroke: 2px var(--border-main);
    }
}